.App {
  text-align: center;
  margin: 50px;
}
.table__head{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.heading{
  font-weight: bold;
}
.table1{
  border-bottom: 1px solid black;
}
.first__row{
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 10px 5px;
  margin-bottom: 5px;
  background-color: rgb(240, 240, 240);
}
.first{
  border: 1px solid rgb(158, 158, 158);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
  align-items: center;
}
.first__empty{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.delete{
  display: flex;
  flex-direction: column;
}
.input__container{
  
  display: flex;
  flex-direction: column;
  width: 200px;
}
.add__npri{
  display: flex;
}
.npri__display{
  display: none;
}
.sub__owner{
  display: flex;
  align-items: center;
}
.toLeft{
  text-align: left;
}